/* ====================================== */
/* Main components                        */
/* ====================================== */

body {
    font-family: 'Raleway', 'Arial', sans-serif !important;
}

h1 {
    font-family: 'Raleway', 'Arial', sans-serif !important;
    font-weight: 600;
    font-style: normal;
    color: #444649;
}

section {
    min-height: 100vh;
    padding-top: 3rem;
}

p {
    font-size: 1.1rem;
}

/* ====================================== */
/* Reusable Components                    */
/* ====================================== */
.header-bar {
    margin: auto;
    width: 70px;
    height: 4px;
    background: #444649;
}

.margin-auto {
    margin: auto !important;
}

.margin-0 {
    margin: 0 !important;
}

.offset-background {
    background-color: #f5f5f5;
}

.fas {
    font-size: 40px;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}

.bouncing-loader {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #252934;
    z-index: 2;
    position: fixed;
}

.bouncing-loader>div {
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #fff;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader>div:first-child {
    left: 47%;
}

.bouncing-loader>div:nth-child(2) {
    animation-delay: 0.2s;
    left: 50%;
}

.bouncing-loader>div:nth-child(3) {
    animation-delay: 0.4s;
    left: 53%;
}


/* ====================================== */
/* Front Page                             */
/* ====================================== */

.sketch {
    overflow: hidden;
    display: block;
    border-bottom: 2px solid #e31b6d;
    min-height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text-box h1 {
    color: white;
    font-weight: 500;
    font-size: 36pt;
}

.hero-text-box h2 {
    color: white;
}

.highlight {
    color: #e31b6d;
}

/* ====================================== */
/* About Me                               */
/* ====================================== */
.dot {
    height: 100px;
    width: 100px;
    background-color: #04C2C9;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.dot-large {
    height: 250px;
    width: 250px;
    margin: auto;
}

.dot-div {
    text-align: center;
}

.img-profile-picture {
    padding: .25rem;
    background-color: #04C2C9;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.skills-background {
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 30px;
}

.skills-text {
    width: 25%;
    padding: 5px;
    background-color: #04C2C9;
    height: 100%;
}

.skills-text p {
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.skills-percentage {
    background-color: rgb(2, 155, 160);
    height: 100%;
    text-align: center;
}

.skills-percentage p {
    color: white;
    font-size: 15px;
    padding: 4px;
}

/* ====================================== */
/* Projects                               */
/* ====================================== */


/* ====================================== */
/* Experience                             */
/* ====================================== */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #04C2C9;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    margin-bottom: 3rem;
}

.holder {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.holder::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: -28px;
    background-color: #04C2C9;
    border: 4px solid #04C2C9;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -4px;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #04C2C9;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #04C2C9;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #04C2C9;
    border-width: 10px 10px 10px 0;
    border-color: transparent #04C2C9 transparent transparent;
}

.right::after {
    left: -26px;
}

.content {
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

.content__header {
    background-color: #04C2C9;
    color: #fff;
    padding: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content__header h4 {
    font-weight: 300;
    font-variant: small-caps;
    font-size: 1.3rem;
}

.content__body {
    padding: 15px;
}

.content__body p {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {

    .holder {
        margin-bottom: 1.5rem;
    }

    .timeline::after {
        left: 31px;
    }

    .holder {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .holder::after {
        width: 35px;
        height: 35px;
        top: 18px;
    }

    .holder::before {
        left: 60px;
        border: medium solid #04C2C9;
        border-width: 10px 10px 10px 0;
        border-color: transparent #04C2C9 transparent transparent;
    }

    .left::after {
        left: 16px;
    }

    .right::after {
        left: 12px;
    }

    .right {
        left: 0%;
    }
}